@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Inter", sans-serif;
}

.navbar-fix-blur {
    @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur;
    box-shadow: inset 0 -1px 00 rgba(0, 0, 0, 0.1);
}

.spanHamburger {
    @apply w-[30px] h-[2px] my-2 block bg-black rounded-full transition-all duration-500 ease-in-out;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-[45deg];
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
}

#portfolio:hover #child-portfolio {
    display: block;
}

.btn-primary {
    @apply text-base text-white bg-indigo-700 font-semibold py-3 rounded-full hover:bg-indigo-800 transition duration-300 shadow-lg;
}
